[package]
name = "zcd"
version = "0.1.0"
authors= [ "tizee" ]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.56"
bincode = "1.3.3"
clap = { version="3.1.9", features= [ "std","derive","color" ] }
crossbeam-utils = "0.8.8"
daemonize = "0.4.1"
dirs = "4.0.0"
itertools = "0.10.3"
serde = { version = "1.0.136", features = ["derive"] }
serde_json = "1.0.79"
fuzzy = {path = "../fuzzy"}

[profile.release]
debug= 1
